/* WhyChooseUs.css */
.why-choose-us-container {
    padding: 40px;
    text-align: center;   
}
  
  .why-choose-us-heading h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .why-choose-us-content {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .card-main {
    max-width: 300px;
    min-height: 320px;
    background-color: #fcfcfc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    
  }
  .card-main:hover{
      border-radius: 10px;
      background-color:rgb(164, 182, 205);
      transition: all .4s ease;
     
  }
  
  .card-main h3 {
    font-size: 24px;
    font-weight: bold;
    color: rgb(12, 27, 245);
    margin: 0;
    margin-bottom: 10px;
  }
  
  .card-main p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin: 0;
    text-align: justify;
    word-spacing:-2px;
  }
  
/* @media screen and (max-width: 768px) {
  .why-choose-us-container {
    background-color: #f9f9f9;
    padding: 40px;
    text-align: center;    
}
} */